{% extends 'base.html' %}

{% block content %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
    <div class="jumbotron mt-5">
        <h3>Services at offer</h3>
        
        <a href="buy_med" style="margin: 2px 2px; color: white" class="btn btn-success my-2 my-sm-0" type="submit">Buy Medicines</a>
        <a href="book" style="margin: 2px 2px; color : white" class="btn btn-success my-2 my-sm-0" type="submit">Book Doctor's Appointment</a>
    </div>
</div>
{% endblock %}