{% extends 'bootstrap.html' %}

{% block bootstrap %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
        <div class="jumbotron mt-5">
            <h2>Register as a Doctors</h2>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-primary" value="submit">
                </form>
            </div>
            <a href="doctorLogin" style="text-decoration: none; cursor : pointer;">Already Registered? Login here</a>
        </div>
    </div>
{% endblock %}