{% extends 'bootstrap.html' %}

{% block bootstrap %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Doctors Portal</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    
        <a href="{% url 'doctorLogin' %}" class="btn btn-danger my-2 my-sm-0" type="submit">Log out</a>
        
      </nav>
      <div class="container mt-3">
        <div class="jumbotron">
            <h1>Pending Appointments</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Patient's First Name</th>
                      <th scope="col">Patient's Last Name</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for i, j in context.items %}
                    <tr>
                        <th scope="row">{{j.0}}</th>
                        <td>{{j.2}}</td>
                        <td>{{j.3}} </td>
                        <td><a href="{% url 'report' j.1 i %}" type="button" class="btn btn-success">Give Report</a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>    
        </div>
    </div>
{% endblock %}