{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3" >
        {% if d.status %}
            <h1>You are already registered</h1>
            <form action="edit" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Edit">
            </form>
        {% else %}
            <h1>Not registered</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-primary" value="submit">
                </form>
            </div>    
        {% endif %}        
    </div>
{% endblock %}